/* Variables */

/* _Color Palette (Names: https://chir.ag/projects/name-that-color/) */
$shark: #24272a;
$mako: #3f454a;
$anzak: #d8ad3d;
$cerulean: #009cd9;
$poppy: #b72c2c;
$white: #ffffff;

/* _Font Family */
$caveat: "Caveat", cursive;
$open: "Open Sans", sans-serif;

/* _Font Weight */
$regular: 400;
$bold: 700;

/* _Font Size */
$font-xs: 0.8rem;
$font-sm: 1rem;
$font-md: 1.5rem;
$font-lg: 5rem;
$font-xl: 8rem;
